* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
}

.continer {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.raw {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

header {
  width: 100%;
  padding: 5px 0;
  cursor: pointer;
}

.bars {
  width: 5%;
  font-size: 25px;
}
.None{
  display: none;
}
.flex{
  display: flex;
}
nav{
  display: flex;
 font-weight: 600;
}
nav li{
  margin: 0 10px;
}

.search {
  width: 30%;
}
.m-search{
  display: none;
}
.search-bar{
 width: 30%;
}
.search-bar input{
  width: 65%;
  padding: 10px;
  color: black;
  outline: none;
}
.search-bar button{
  background: gray;
  padding: 14px;
  vertical-align: bottom;
}
.search button {
  border: 1px solid white;
  padding: 5px 8px;
  font-weight: bold;
}

.search button svg {
  margin: 2px 5px;
  font-size: 20px;
}

.logo {
  width: 15%;
  display: flex;
  justify-content: end;
}

.cart {
  width: 50%;
  display: flex;
  font-size: 30px;
  justify-content: end;
}

.cart svg {
  margin: 0 15px;
}

#shoes-main {
  width: 100%;
}

#bannerMain {
  width: 100%;
  display: block;
  float: left;
  position: relative;
}

.banner-img {
  width: 100%;
  display: block;
  float: left;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 2%;
}

.banner-text h2 {
  font-size: 35px;
  color: white;
  font-weight: bold;
}
.banner-text h4{
  FONT-SIZE: x-large;
    color: white;
}
.banner-text button {
  background: white;
  font-weight: bold;
  margin: 10px 0px;
  width: 120px;
  height: 40px;
}

.banner-text .buttons {
  text-align: center;
}

button:hover {
  background-color: gray;
}

#imgSec {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.margin-auto {
  margin: 0 auto;
}

.justify-c {
  justify-content: center;
}

.ImgCard {
  margin: 20px auto;
  width: 20%;
  text-align: center;
}

#imgSec h1 {
  font-size: 35px;
  font-weight: bolder;
}

#imgSec h4 {
  font-size: 20px;
  color: gray;
}

.ImgCard h2 {
  font-size: 20px;
  margin: 5px 0;
  font-weight: 500;
}

.ImgCard button {
  background: black;
  color: white;
  padding: 10px 20px;
  margin: 5px 0;
}

.ImgCard button:hover {
  background-color: gray;
}

.ImgCard img {
  display: inline;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 18px;
}

footer .list {
  width: 25%;
  color: gray;
 align-self: start;
}

footer .list li {
  margin: 5px 0;
}

footer .ulist {
  width: 25%;
  color: gray;
}

footer .ulist li {
  margin: 5px 0;
}

footer .uptoDate {
  width: 25%;
 align-self: start;
}

footer .uptoDate li {
  display: inline-block;
  margin: 20px 20px;
  font-size: x-small;
  text-align: center;
}

footer h3 {
  font-weight: 700;
  color: white;
  margin: 8px 0;
}

footer svg {
  font-size: x-large;
}

footer .fpuma {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 5px 15px;
}

footer .fpuma img {
  width: 30px;
}

footer .cards {
  width: 50%;
}

footer .india {
  width: 50%;
  display: flex;
}

footer .india img {
  width: 30px;
  border-radius: 50%;
  height: 30px;

}
footer .heading svg{
  display: none;
}

footer .india button {
  display: flex;
  border: 1px solid gray;
  gap: 10px;
  align-items: center;
  padding: 10px 25px;
  font-weight: bold;
}
.paddingTB25{
  padding: 25px 0;
}
.borderBottom{
  border-bottom: 1px solid gray;
}
#BuySec{
  width: 100%;
}
.buyImg img{
  width: 100%;
}
.buyImg{
  width: 50%;
}
.buyText{
  width: 50%;
  align-self: start;
}
#BuySec h1{
  font-size: 1.5rem;
  font-weight :700;
}
.buyText h2{
  font-size: 2.5rem;
  font-weight: bold;
  margin: 15px 0;
}
.buyText h3{
  color: red;
  font-size: 2rem;
  font-weight: bold;
  margin: 15px 0;

}
.buyText h4{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 15px 0;

}
.buyText p{
  color: gray;
  margin: 5px 0;
  font-size: 1.25rem;
  margin: 15px 0;
}
.buyText button{
  display: block;
  background: black;
  color: white;
  padding: 10px 20px;
  margin: 15px 0;
  font-weight:bold;
}
.buyText button:hover{
  background-color: gray;
}

.active{
  display: block;
}
/* phone-view */
@media only screen and (max-width:767px) {
  .continer{
    max-width: 420px;
  }
  .none{
    display: none;
  }
  .bars{
    width: 15%;
  }
  .logo{
    width: 40%;
    justify-content: center;
  }
  .search{
    display: none;
  }
  .m-search{
    display: block;
    width: 15%;
    font-size: x-large;
  }
  .search-bar{
    display: none;
  }
  .cart{
    width: 30%;
  }
  .banner-text{
    display: block;
    text-align: center;
    position: static;
    float: left;
    width: 100%;
    padding: 15px 0;
  }
  .banner-text h2{
    color: black;
    font-size: 25px;
  }
  .banner-text h4{
    color: gray;
    font-size: large;
  }
  .banner-text button{
    background-color: black;
    color: white;
  }
  .ImgCard{
    width: 40%;
  }
  footer .heading{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  footer .list{
    width: 100%;
  }
  footer .ulist{
    width: 100%;
  }
 
  footer .uptoDate{
    width: 100%;
  }
  footer .heading svg{
    display: block;
    align-self: center;
    color: white;
  }
  .column{
    display: flex;
    flex-direction: column;
  }
  .india{
    width: 100%;
    justify-content: center;
  }
  .cards{
    width: 100%;
    justify-content: center;
    
  }
  #shoeCard{
    width: 45%;
  }
  .buyImg{
    width: 100%;
  }
  .buyText{
    width: 100%;
  }
  footer .india button{
    padding: 10px 50px;
  }
}

/* tab view */
@media only screen and (min-width:768px) and (max-width:1080px){
 .continer{
  max-width: 1024px;
 } 
 .none{
  display: none;
}
.bars{
  width: 15%;
}
.logo{
  width: 40%;
  justify-content: center;
}
.search{
  display: none;
}
.m-search{
  display: block;
  width: 15%;
  font-size: x-large;
}
.search-bar{
  display: none;
}
.cart{
  width: 30%;
}
.banner-text{
  display: block;
  text-align: center;
  position: static;
  float: left;
  width: 100%;
  padding: 15px 0;
}
.banner-text h2{
  color: black;
  font-size: 25px;
}
.banner-text h4{
  color: gray;
  font-size: large;
}
.banner-text button{
  background-color: black;
  color: white;
}
.ImgCard{
  width: 40%;
}

footer .heading{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
footer .list{
  width: 100%;
}
footer .ulist{
  width: 100%;
}

footer .uptoDate{
  width: 100%;
}
footer .heading svg{
  display: block;
  align-self: center;
  color: white;
}
.column{
  display: flex;
  flex-direction: column;
}
.india{
  width: 100%;
  justify-content: center;
}
.cards{
  width: 100%;
}
.cards img{
  margin: 0 auto;
}
#shoeCard{
  width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#shoeText{
  flex-direction: column;
}
.buyImg{
  width: 100%;
}
.buyText{
  width: 100%;
}
footer .india button{
  padding: 10px 50px;
}
}

