* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
}
.container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
header {
  width: 100%;
  height: 70px;
}

.bars {
  width: 5%;
  font-size: 25px;
}

.search {
  width: 10%;
}

.search button {
  border: 1px solid white;
  padding: 5px 8px;
  font-weight: bold;
}
.search button svg{
  margin: 2px 5px;
  font-size: 20px;
}

.logo {
  width: 70%;
  display: flex;
  justify-content: center;
}

.cart {
  width: 15%;
  display: flex;
  font-size: 30px;
  justify-content: end;
}

.cart svg {
  margin: 0 15px;
}
#shoes-main{
  width: 100%;
}
#bannerMain{
  width: 100%;
  display: block;
  float: left;
  position: relative;
}
.banner-img{
  width: 100%;
  display: block;
  float: left;
}
.banner-text{
  position:absolute;
  top: 50%;
  left: 2%;
}
.banner-text h2{
  font-size: 35px;
  color: white;
  font-weight: bold;
}
.banner-text button{
  background: white;
    font-weight: bold;
    margin: 10px 10px;
    width: 120px;
    height: 40px;
}
.banner-text .buttons{
  text-align: center;
}
button:hover{
  background-color: gray;
}
#imgSec{
  width: 100%;
}
.row{
  display: flex;
  flex-direction: row;
}
.margin-auto{
  margin: 0 auto;
}
.justify-c{
  justify-content: center;
}
.ImgCard{
  margin: 20px auto;
  width: 20%;
  text-align: center;
}
#imgSec h1{
  font-size: 35px;
  font-weight: bolder;
}
#imgSec h4{
  font-size: 20px;
  color: gray;
}
.ImgCard h2{
  font-size: 20px;
  margin: 5px 0;
  font-weight: 500;
}
.ImgCard button{
  background: black;
  color: white;
  padding: 10px 20px;
  margin: 5px 0;
}
.ImgCard button:hover{
  background-color: gray;
}
.ImgCard img{
  display: inline;
}
footer{
  width: 100%;
  background-color: black;
  color: white;
  font-size:18px ;
}
footer .list{
  width: 25%;
  color: gray;
  height: 285px;
}
footer .list li{
  margin: 5px 0;
}
footer .ulist{
  width: 25%;
  color: gray;
}
footer .ulist li{
  margin: 5px 0;
}
footer .uptoDate{
  width: 25%;
  height: 285px;
}
footer .uptoDate li{
  display: inline-block;
  margin: 20px 20px;
  font-size: x-small;
  text-align: center;
}
footer h3{
  font-weight: 700;
  color: white;
 margin: 8px 0;
}
footer svg{
  font-size: x-large;
}
footer .fpuma{
  border: 1px solid gray;
  border-radius: 8px;
  padding: 5px 15px;
}
footer .fpuma img{
  width: 30px;
}